<div class="widget-wrap mdl-shadow--2dp">
  <div class="info">
    <div class="content">
      <div>
        <a href="https://github.com/ztelur">
          <img class="avatar" src="https://avatars2.githubusercontent.com/u/6268322?v=3&s=460" alt="avatar"/
        </a>
      </div>
      <div  class="name">
        <h2> Carpediem </h2>
      </div>
      <p>90后,Android,学习永无止境</p>
      <div class="account">
        <div class="account-item">
          <a href="">
            <img src="http://hkcoding.sinaapp.com/static/images/ico_05_1.jpg"
                style="width:40px;height:40px"/>
          </a>
          <a href="">
            <img src="http://hkcoding.sinaapp.com/static/images/ico_zhihu.png"
                style="width:40px;height:40px"/>
          </a>
          <a href="">
            <img src="http://hkcoding.sinaapp.com/static/images/ico_04_1.jpg"
                style="width:40px;height:40px"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
