<div class="outer footer footer_center">
  <div id="footer-info" class="inner">
    &copy;<%= new Date().getFullYear() %>
    <% if (config.author){ %>
      <a href="https://github.com/ztelur"><%= config.author %>
      </a>
    <% } else { %>
      <a href="https://github.com/ztelur"><%= config.title %>
      </a>
    <% } %>
    <br>
    <br>
    <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
    </script>

    <span id="busuanzi_container_site_pv">
      本站总访问量<span id="busuanzi_value_site_pv"></span>次
    </span>
    "Powered by"
    <a href="http://hexo.io/" target="_blank">Hexo</a>
    <br>
    <br>
   <script type="text/javascript">
      var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cspan id='cnzz_stat_icon_1258093377'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258093377%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
   </script>
  </div>

</div>
<div class="clearfix"></div>
<div  id="share">
  <a id="totop" title style="display:bolck;">返回顶部</a>
</div>
