// 博文内容中的样式
.article-entry img, .article-entry video
  max-width: 97%
  height: auto
  display: block
  margin: auto
  margin-top: 10px
  -webkit-box-shadow: 1px 1px 10px #e5e5e5
  box-shadow: 1px 1px 10px #e5e5e5
