#header
  text-shadow 0 0 1px #fff
  height:94px
  position:relative
  background:#2c3e50
  margin-bottom:50px
  padding:0px 20px
  .logo 
    float:left
    margin:29px 30px 0 0

#header-outer 
    height: 100%
    position: relative

.outer 
    max-width: 1100px
    margin: 0 auto
    &:before,:after 
          content ""
          display table


  .logo 
    display: block
    width: 170px
    font-family: 'Open Sans', "Microsoft Yahei"
    font-weight: bold
    text-decoration: initial
    color: #fff
    font-size: 2em

#header-inner 
    display: block
    height: 100%
    overflow: hidden
  
#main-nav 
    position: relative;
    float: left;
    top: 40px;
  
#main-nav-toggle 
    display: none;

#main-nav-toggle:before 
  content: "\f0c9"

.nav-icon,
.main-nav-link 
    float: left
    color: #fff
    text-decoration: none
    -webkit-transition: color 0.2s
    -moz-transition: color 0.2s
    -ms-transition: color 0.2s
    transition: color 0.2s
    display: block
    padding: 0px 10px
    text-transform: uppercase

.nav-icon:hover,
.main-nav-link:hover 
    color: #42b983

.nav-icon 
    font-family: FontAwesome
    text-align: center
    font-size: 30px
    width: 30px
    height: 14px
    padding: 5px 7px
    position: relative
    cursor: pointer
    float: left
    top: 28px

.main-nav-link 
    font-family: 'Open Sans', "Microsoft Yahei"
    font-weight: 600

@media screen and (max-width: 479px) {
    .main-nav-link {
      display: none;
    }
}

#sub-nav 
    float: right;

#search-form-wrap 
    float: left;
    margin: 29px 10px 0 22px;

@media screen and (max-width: 479px) {
    #search-form-wrap {
      width: 100%;
      right: -100%;
    }
}
.search-form-input 
  -webkit-appearance none
  -moz-appearance none
  appearance none
  padding 0 13px
  border 1px solid rgba(255,255,255,0.5)
  height 38px
  width 200px
  font-size 15px
  font-weight 400
  background none
  display inline-block
  -webkit-box-shadow none
  box-shadow none
  -webkit-border-radius 20px
  border-radius 20px
  outline none
  -webkit-transition background 0.2s
  -moz-transition background 0.2s
  -ms-transition background 0.2s
  transition background 0.2s
  &:focus 
    background #fff
  &::-webkit-input-placeholder 
    color rgba(255,255,255,0.5)
  &:-moz-placeholder 
    color rgba(255,255,255,0.5)
  &::-moz-placeholder 
    color rgba(255,255,255,0.5)
  &:-ms-input-placeholder 
    color rgba(255,255,255,0.5)
    
.search-form-submit 
  display none
  
#search-form-wrap 
  float left
  margin 29px 10px 0 22px

@media screen and (max-width: 479px)
  #search-form-wrap 
    width 100%
    right -100%
#nav-github-link:before 
  content "\f113"
