#sidebar
  width 270px
  line-height 1.8em
  @media screen and (max-width: 900px)
    float none
    width 100%

.widget-wrap
  margin-bottom 20px

.widget
  line-height: 28px
  word-wrap: normal
  font-size: 0.9em
.widget
  color: #2c3e50
  padding: 15px 0px


.tagcloud a
  margin-right: 5px
  word-wrap: normal
  float: left
  border: 1px solid
  -webkit-border-radius: 3px
  border-radius: 3px
  margin-bottom: 5px
  padding: 0px 10px

.widget a
  color: #42b983
  text-decoration: none
  &:hover
    text-decoration: underline

.widget:before, .widget:after
  content: "";
  display: table;

.widget:after
  clear: both;
